.InventoryPageWrapper {
    height:100vh;
    background-color: rgb(255, 249, 249);
    background-image: radial-gradient(rgb(183, 189, 226) 2px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
}
