.inventoryWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
}
.inputGrid {
    display: flex;
    flex-direction: row;
    place-self: center;
    width:auto;
    height:auto;
    padding:15px;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(189, 109, 196);
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
}
.inputFields {
    display: flex;
}

@media (max-width: 600px) {
    .inventoryWrapper {
        display:flex;
        flex-direction: column;
    }
    .inputFields {
        display: flex;
        flex-direction: column;
    }

}
