h1 {
    position: relative;
    padding: 10px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: #080808;
    display: flex;
    justify-content: center;
}
.MuiDataGrid-cellContent {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #080808;
    display: flex;
    justify-content: center;
}
.Row {
    display: flex;
    flex-direction: row;
    margin:15px;
    justify-content: center;
    align-items: center;
}
.firestoreBoxes {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
    overflow:hidden;
    background-color: rgb(255, 249, 249);
}
.title {
    text-align: center;
    font-size: 22px;
    font-weight: 700; color:#202020;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px;
}

@media (max-width: 1260px) {
    .Row {
        display:flex;
        flex-direction: column;
        justify-content: left;
        justify-self: left;
        place-content: left;
        place-items: left;
        place-self: left;
    }
    .firestoreBoxes {
        display:flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        justify-items: left;
        justify-self: left;
        align-self: left;
        margin:10px;
        width:100%;
        overflow:hidden;
    }

}