.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.firestoreBoxes {
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: right;
}
